@import url(https://fonts.googleapis.com/css?family=Product+Sans:400);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400);
@import url(https://fonts.googleapis.com/css?family=Dosis:400);
:root {
    --background: #1a1a1a;
    --blueish: #4285f4;
    --pinky: #f44263;
}

body::-webkit-scrollbar {
    width: 8px
}

body::-webkit-scrollbar-track {
    background: #0c0c0c
}

body::-webkit-scrollbar-thumb {
    background: var(--pinky)
}

body {
    width: 100%;
    margin: 0;
    font: 100% "Product Sans", sans-serif;
    color: #eee;
    background-color: #1a1a1a;
    opacity: 0
}

canvas {
    position: relative;
    max-width: 100%
}

a {
    color: #eee;
    text-decoration: none
}

.intro {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff
}

.intro>h1 {
    padding: 0 10px;
    font-size: 46px;
    text-align: center;
    margin: auto
}

.landing {
    position: relative
}

.typeout {
    color: var(--pinky)
}

.typeout:after {
    -webkit-animation: .7s blink step-end infinite;
    animation: .7s blink step-end infinite;
    content: "|";
    padding-left: 2px;
    color: #fff
}

@keyframes blink {
    from,
    to {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@-webkit-keyframes blink {
    from,
    to {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@-webkit-keyframes arrow {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes arrow {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes borders {
    0% {
        opacity: 1
    }
    50% {
        opacity: .3
    }
    100% {
        opacity: 1
    }
}

@keyframes borders {
    0% {
        opacity: 1
    }
    50% {
        opacity: .3
    }
    100% {
        opacity: 1
    }
}

.borders {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    -webkit-animation: borders 2s infinite;
    animation: borders 2s infinite
}

.borders:nth-last-of-type(2) {
    right: 1%;
    bottom: 1%;
    -webkit-transform: translateX(-10%) translateY(-20%);
    -ms-transform: translateX(-10%) translateY(-20%);
    transform: translateX(-10%) translateY(-20%);
    border-right: 2px solid var(--pinky);
    border-bottom: 2px solid var(--pinky)
}

.borders:nth-last-of-type(3) {
    left: 1%;
    bottom: 1%;
    -webkit-transform: translateX(10%) translateY(-20%);
    -ms-transform: translateX(10%) translateY(-20%);
    transform: translateX(10%) translateY(-20%);
    border-left: 2px solid var(--pinky);
    border-bottom: 2px solid var(--pinky)
}

.borders:nth-last-of-type(4) {
    left: 1%;
    top: 1%;
    -webkit-transform: translateX(10%) translateY(20%);
    -ms-transform: translateX(10%) translateY(20%);
    transform: translateX(10%) translateY(20%);
    border-left: 2px solid var(--pinky);
    border-top: 2px solid var(--pinky)
}

.borders:nth-last-of-type(5) {
    top: 1%;
    right: 1%;
    -webkit-transform: translateX(-10%) translateY(20%);
    -ms-transform: translateX(-10%) translateY(20%);
    transform: translateX(-10%) translateY(20%);
    border-right: 2px solid var(--pinky);
    border-top: 2px solid var(--pinky)
}

.arrows {
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    -webkit-transform: translateX(-100%) translateY(-50%);
    -ms-transform: translateX(-100%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
}

.arrows:hover {
    cursor: pointer
}

.arrows>span {
    padding: 6px;
    width: 100%;
    height: 100%;
    border-left: 3px solid var(--pinky);
    border-bottom: 3px solid var(--pinky);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: arrow 2s infinite;
    animation: arrow 2s infinite
}

.arrows>span:nth-of-type(1) {
    -webkit-animation-delay: .15s;
    animation-delay: .15s
}

.arrows>span:nth-of-type(2) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.arrows>span:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s
}

.about {
    background: #1a1a1a;
    text-align: center;
    color: #eee;
    position: relative;
    z-index: 0;
    padding: 10% 10% 20% 10%;
    overflow: hidden
}

.about a {
    font-family: Roboto-Regular;
    text-decoration: none;
    color: #4285f4
}

.about h2 {
    color: var(--blueish)
}

.about-text {
    text-align: left;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.about p {
    font-weight: 400;
    font: 100% Inconsolata, sans-serif;
    line-height: 32px
}

.about-text h2 span,
.card-text h2 span,
.projects h2 span,
.skills h2 span {
    color: #fff;
    font-weight: lighter
}

.about-background {
    position: absolute;
    left: -10%;
    top: -10%;
    font-weight: 700;
    color: #222;
    opacity: .5;
    font-size: 1000%;
    z-index: -1;
    padding: 0 5%;
    text-transform: uppercase
}

.about-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)(2);
    grid-template-columns: repeat(2, 1fr)
}

.card {
    width: 100%;
}

.about-element {
    text-align: left;
    font-weight: 700;
    font-size: 150%;
    vertical-align: middle;
    position: relative
}

.about-element h2 {
    font-size: 3rem
}

.skills {
    margin: 10% 0;
    position: relative
}

.skills-background {
    position: absolute;
    font-weight: 700;
    color: #222;
    font-size: 15rem;
    z-index: -3;
    opacity: .5;
    top: 50%;
    text-transform: uppercase;
    text-decoration: line-through
}

.skills h2 {
    text-align: center;
    color: var(--blueish);
    font-size: 3rem
}

.skills-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)(4);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    color: #eee;
    font-size: 2rem;
    font-weight: 700;
    position: relative
}

.skills-grid p {
    margin: auto;
    text-align: left;
    position: relative;
    z-index: 0
}

.image img {
    width: 50%;
    height: 50%
}

.image svg {
    width: 50%;
    height: 50%;
    position: relative;
    z-index: -2
}

.image {
    text-align: right;
    position: relative
}

.projects>h2 {
    text-align: center;
    font-size: 3rem;
    color: var(--blueish);
    font-weight: 700
}

.footer-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)(3);
    grid-template-columns: repeat(3, 1fr);
    background: #111
}

.footer-grid div {
    margin: auto;
    padding: 2% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.copyright span,
.footer-grid div i {
    color: var(--pinky)
}

.contact span {
    margin: 0 1rem
}

.projects {
    background: #1a1a1a;
    color: #111;
    position: relative;
    z-index: 1
}

.projects-background {
    position: absolute;
    font-weight: 700;
    color: #222;
    opacity: .5;
    font-size: 18rem;
    top: 45%;
    left: 50%;
    text-transform: uppercase;
    z-index: 0
}

.projects-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)(3);
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--background);
    grid-gap: 4rem 2rem;
    margin: 5%
}

.description {
    color: #fff;
    margin: auto 0
}

.even {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    text-align: left
}

.odd {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    text-align: right
}

.projects-grid h3 {
    color: var(--blueish);
    font-size: 1.5rem;
    margin: 0
}

.hoverable {
    width: 100%;
    height: 40vh;
    position: relative;
    -webkit-transition: -webkit-filter .5s ease;
    transition: -webkit-filter .5s ease;
    -o-transition: filter .5s ease;
    transition: filter .5s ease;
    transition: filter .5s ease, -webkit-filter .5s ease;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%)
}

.hoverable:hover {
    cursor: pointer;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-box-shadow: 0 0 15px 5px rgba(1, 1, 1, 1);
    box-shadow: 0 0 15px 5px rgba(1, 1, 1, 1)
}

.preview {
    width: 100%;
    height: 100%;
    background-image: url(1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: .5%
}

.info {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out
}

.info svg {
    width: 100%;
    height: 100%
}

.info:hover {
    opacity: .3
}

.skills-grid p::after {
    content: "";
    position: absolute;
    width: 120%;
    height: .5rem;
    left: -10%;
    bottom: 0;
    background-color: var(--pinky);
    z-index: -1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.projects-grid div h3,
.projects-grid div p,
.stack {
    position: relative;
    z-index: 1
}

.stack>div {
    border: 2px solid var(--blueish);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    display: inline-block;
    background: #333;
    padding: .5%;
    margin: .5%
}

.socials {
    position: fixed;
    top: 50%;
    left: 2rem;
    z-index: 9;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.socials ul {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    list-style: none;
    font: inherit
}

.socials ul li {
    padding: 0 1rem;
    font: 150% Dosis, sans-serif;
    background: 0 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.socials a {
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.socials a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--pinky);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform .3s ease-out;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    -o-transition: transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out
}

.socials a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

@media (max-width:768px) {
    html {
        font-size: 85%
    }
    .description {
        visibility: hidden;
        position: absolute
    }
    .image {
        text-align: center
    }
    .blank {
        display: none
    }
    .footer-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr
    }
}

@media (max-width:1024px) {
    .description {
        visibility: hidden;
        position: absolute
    }
    .image {
        text-align: center;
        margin-top: 10%
    }
    .about-grid,
    .projects-grid,
    .skills-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr
    }
    .projects-grid {
        margin: 10%
    }
    .blank {
        display: none
    }
}