@font-face {
    font-family: Roboto-Light;
    src: url(Roboto-Light.ttf);
}
body {
    margin: 0px;
    font-family: 'Roboto-Light', sans-serif;
    color: #eee;
    background-color: #fff;
}

canvas {
    position: relative;
    max-width: 100%;
}

.intro {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff
}

.intro>h1 {
    padding: 0 10px;
    font-size: 46px;
    text-align: center;
    margin: auto;
}
.typeout {
    color: #4285F4;
}

.typeout:after {
    -webkit-animation: 0.7s blink step-end infinite;
    -moz-animation: 0.7s blink step-end infinite;
    -ms-animation: 0.7s blink step-end infinite;
    -o-animation: 0.7s blink step-end infinite;
    animation: 0.7s blink step-end infinite;
    content: '|';
    padding-left: 2px;
    color: #fff;;
}

@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
   }
}

@-webkit-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes "blink" {
  from,to {
  opacity: 0;
}
  50% {
    opacity: 1;
 }

}

@-o-keyframes "blink" {
  from,to {
  opacity: 0;
}
  50% {
    opacity: 1;
 }
}

@keyframes arrow {
    0% {opacity: 1;}
    50% {opacity : 0}
    100% {opacity: 1;}
}

@keyframes borders {
    0% {opacity: 1; }
    50% {opacity: 0.3;}
    100% {opacity: 1;}
}

.borders {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    animation: borders 2s infinite;
}

.borders:nth-last-of-type(2) {
    right: 1%;
    bottom: 1%;
    transform: translateX(-10%) translateY(-20%);
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.borders:nth-last-of-type(3) {
    left: 1%;
    bottom: 1%;
    transform: translateX(10%) translateY(-20%);
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.borders:nth-last-of-type(4) {
    left: 1%;
    top: 1%;
    transform: translateX(10%) translateY(20%);
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

.borders:nth-last-of-type(5) {
    top: 1%;
    right: 1%;
    transform: translateX(10%) translateY(20%);
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}

.arrows {
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translateX(-100%) translateY(-50%);
    display: grid;
    grid-template-columns: 1fr;
}

.arrows:hover {
    cursor: pointer;
}

.arrows > span {
    padding: 6px;
    width: 100%;
    height: 100%;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
    animation: arrow 2s infinite;
}

.arrows > span:nth-of-type(1) {
    animation-delay: .15s;
}

.arrows > span:nth-of-type(2) {
    animation-delay: .30s;
}

.arrows > span:nth-of-type(3) {
    animation-delay: .45s;
}

.about {
    background: #fff;
    text-align: center;
    padding: 5% 10%;
    color: #111;
}

.about>div>p {
    margin: auto;
    text-align: justify;
    padding: 3%;
    width: 70%
}

.projects>div {
    background: #fff;
    color: #111;
}

.projects>div>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    grid-gap: 3em;
    padding: 3em;
}

.projects > div >h2 {
    text-align: center;
    padding: 1em;
}

.preview {
    width: 100%;
    height: 100%;
    transition: opacity 0.4s ease;
    border: 1px solid #000;
}

.preview:hover {
    opacity: 0.5;
}

.technologies > div {
    margin-bottom: 10%;
}

.card-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
    padding: 5% 10%;
}

.card {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,1);
    box-shadow: 0px 0px 15px 5px rgba(204,204,204,1);
}

.card > i{
    padding: 1rem;
}

.card > h3 {
    margin: 0;
}

.technologies>div>h2 {
    color: #111;
    padding: 0 5% 5% 5%;
    text-align: center;
}

.technologies>div {
    padding: 5%;
    background-color: #f3f3f5;
}

.technologies>div>div.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    color: #444;
}

.technologies>div>div.wrapper>div.image>img {
    width: 50%;
    height: 50%;
}

.image {
    text-align: center;
}

.wrapper>p {
    margin: auto;
}

.wrapp {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}

.wrapp > div {
    padding: 1em;
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.icons > a {
    padding: 1em;
    text-align: center;
    transition: opacity 0.3s ease;
}

.icons a:hover {
    opacity: 0.7;
}

.contact {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: auto;
}



footer {
    background: #111;
}

footer>div.wrapp>div {
    margin: auto;
}

footer>div.wrapp>div.icons {
    margin: 1em;
}

.contact {
    text-align: right;
}

.contact>div>i {
    padding: 10px;
}

@media screen and (max-width: 600px) {

    .wrapp {
        grid-template-columns: 1fr;
    }
    .projects div div {
        grid-template-columns: 1fr;
    }
}

.fa.fa-2x {
    color: #fff;
}
