@import url('https://fonts.googleapis.com/css?family=Product+Sans:400');

:root {
    --whitey: #efefef;
    --blueish: #00caf5;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    margin: 0;
    font: 100% "Product Sans", sans-serif;
    color: #eee;
    background-color: var(--background);
    overflow-x: hidden;
}

canvas {
    position: fixed;
    display: block;
    margin: 0px;
}

a {
    color: var(--whitey);
    text-decoration: none;
}

h2  {
    color: var(--blueish);
}

h2 > span {
    color: var(--whitey);
}

hr {
    margin: 0;
    opacity: 0.2;
}

ul {
    padding: 0;
}

.barba-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* Navigation */

nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
    margin: 1rem 0;
    text-align: center;
}

nav>a {
    margin: 0 1rem;
    font: 150% "Product Sans", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

nav>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--blueish);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform .3s ease-out;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    -o-transition: transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out
}

nav>a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.nav-current {
    pointer-events: none;
    opacity: 0.6;
}

/* Location indicator */

.location-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 0.5rem;
    font-size: 150%;
}

/* Index section */

.landing {
    position: relative;
    height: 100vh;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 46px;
    text-align: center;
    margin: 0;
}

.typeout {
    color: var(--blueish)
}

.typeout:after {
    -webkit-animation: .7s blink step-end infinite;
    animation: .7s blink step-end infinite;
    content: "|";
    padding-left: 2px;
    color: var(--whitey);
}

/* About section */

.about {
    position: relative;
    box-sizing: border-box;
    padding-top: 5rem;
    max-width: 600px;
    margin: auto;
}

/* Work section */

.projects {
    position: relative;
    box-sizing: border-box;
    padding: 10% 5%;
    margin: auto;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.projects-grid > a {
    cursor: default;
    position: relative;
}

.projects-item {
    width: 100%;
    height: 100%;
}

.projects-grid > a > h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    margin: 0;
    border: 2px solid #efefef;
    padding: 0.5rem 1rem;
    pointer-events: none;
    /* opacity: inherit; */
}

video {
    width: 100%;
    height: 100%;
}

/* Skills section */

.skills {
    position: relative;
    box-sizing: border-box;
    max-width: 600px;
    margin: auto;
    height: auto;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: auto;
    row-gap: 3rem;
}

.image {
    text-align: center;
}

.image>img {
    width: 25%;
}

.image>div {
    font-size: 150%;
}

/* Contact section */

.contact {
    position: relative;
    box-sizing: border-box;
    padding: 5rem 0;
    max-width: 600px;
    margin: auto;
}

.contact> a {
    display: block;
    margin: 1rem 0;
}

.copyright-sign {
    color: var(--blueish);
    font-weight: bold;
}

@-webkit-keyframes wheel-up-down {
    0% {
         margin-top: 2px;
         opacity: 0;
    }
    30% {
      opacity: 1;
     }
    100% {
      margin-top: 20px;
      opacity: 0;
     }
}
@-moz-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}
@keyframes wheel-up-down {
      0% {
          margin-top: 2px;
          opacity: 0;
      }
      30% {
          opacity: 1;
      }
      100% {
          margin-top: 20px;
          opacity: 0;
      }
}

.burger-menu {
    display: none;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    color: var(--whitey);
    border: none;
    font-size: 3rem;
}

@media all and (max-width: 768px) {

    nav {
        font-size: 0.8rem;
    }
    nav>a {
        margin: 0 0.4rem;
    }

    .skills, .about, .contact {
        box-sizing: border-box;
        padding: 5rem 3rem;
    }

    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .projects-grid {
        grid-template-columns: repeat(1, 1fr);
        margin: 3rem;
    }
    .skills-grid {
        font-size: 0.5rem;
    }
    .contact-text {
        display: none;
    }
}
