body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    color: #fff;
    background-color: #000 !important;
}
canvas {
    position: relative;
}
section > div.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-transform: uppercase;
    color: #fff
}
section > div.intro > h1 {
    padding: 0 10px;
    border: 4px solid #fff;
    font-size: 64px;
}
section > div.about {
    background: #111;
    text-align: center;
}
section > div.about > h3 {
    padding-top: 1em;
}
section > div.about > p {
    padding: 1em;
}
section.technologies > div {
    background: #111;
    text-align: center;
}
.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
    color: #444;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

footer {
    background: #111;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
}

.icons {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
}

.contact {
    display: grid;
    grid-template-rows: auto auto auto;
    margin: auto;
}

footer > div.container > div.logo {
    margin: auto;
}

footer > div.container > div.icons > i {
    padding: 10px;
}

footer > div.container > div.contact {
    margin: auto;
}

footer > div.container > div.contact > p > i {
    padding: 10px;
}
