.canvas {
  background: var(--canvas-background);
  contain: strict;
  display: block;
  height: 100%;
  inset: 0;
  opacity: var(--canvas-opacity);
  pointer-events: none;
  position: fixed;
  transition: background-color 220ms ease-in-out, opacity 220ms ease-in-out;
  width: 100%;
  z-index: -1;
}

.canvas[hidden] {
  display: none;
}
