:root {
  --whitey: #efefef;
  --blueish: #00caf5;
  --background: #000000
}

section > div {
    z-index: -1 !important;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  margin: 0;
  font-size: 100%;
  color: #eee;
  background-color: var(--background);
  overflow-x: hidden;
}

a {
  color: var(--whitey);
  text-decoration: none;
  text-decoration: none !important;
}

ul {
    list-style-type: none;
}