$spacing: 1.5rem;
$media-sm: 480px;
$media-md: 768px;

$color-bg: var(--color-bg);
$color-1: var(--color-1);
$color-2: var(--color-2);
$color-25: var(--color-25);
$color-3: var(--color-3);
$color-muted-text: var(--color-2);
$color-accent-text: var(--color-3);

body.white {
  --color-bg: #f5f7fc;
  --color-1: #142039;
  --color-2: #53627c;
  --color-25: #d6deeb;
  --color-3: #285fc7;
}

body.dark {
  --color-bg: #050810;
  --color-1: #edf3ff;
  --color-2: #a1b0c8;
  --color-25: #243047;
  --color-3: #8bdfff;
}
