.contact {
    list-style-type: none;
    margin-left: 0;

    a svg {
        width: 16px;
        height: 16px;
        margin-top: 3px;
        margin-bottom: -3px;
        margin-right: 3px;
    }   
}

.flair {
    position: relative;
    left: 50%;
}