@import 'themes.scss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-stack;
  background: $color-bg;
  color: $color-1;

  font-size: 14px;
  line-height: 1.5;

  overflow-x: hidden;
}

a, a:visited {
    text-decoration: none;
  color: $color-1;
  svg {
    fill: $color-1;
  }
  span {
      color: $color-2
  }
}

a:active, a:hover {
  color: $color-3;
  svg {
    fill: $color-3;
  }
}

video {
    width: 100%;
    opacity: 0.7;
    filter: grayscale(1);
}

@keyframes grayscale-anim {
  from { -webkit-filter: grayscale(1); opacity: 0.7; }
  to   { -webkit-filter: grayscale(0); opacity: 1.0; }
}

@-webkit-keyframes grayscale-anim {
  from { -webkit-filter: grayscale(1); opacity: 0.7; }
  to   { -webkit-filter: grayscale(0); opacity: 1.0; }
}

video:hover {
  animation: grayscale-anim 0.4s ease-in-out forwards;
  -webkit-animation: grayscale-anim 0.4s ease-in-out forwards;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: $color-2;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
h1 {
  color: $color-1;
}
h1:first-of-type {
  margin-bottom: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

p {
  text-align: justify;
}

ul {
  padding-inline-start: 0;
}

li {
  margin-bottom: 0;
  & > p, & > ul, & > ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

blockquote {
  border-left: 1px solid $color-25;
  color: $color-2;
}

.theme-palette {
  display: flex;
  float: right;
  margin-top: .3rem;
  &>div {
    width: 1rem;
    height: 1rem;
    margin-left: .5rem;
    display: inline-block;
    cursor: pointer;
    background-color: $color-bg;
    border: 1px solid $color-bg;
    &.selected {
      border-color: $color-1;
    }
  }
}

.layout {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 $spacing;
  display: grid;
}

.navbar {
  border-bottom: 1px solid $color-25;
  margin-bottom: 5rem;
  padding: $spacing 0;
  font-size: 1.25rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      margin-right: 1rem;
      a {
        text-decoration: none;
      }
      span {
        color: $color-2;
      }
    }
  }
  .menu-container {
    @media (max-width: $media-sm) {
      li {
        display: block;
        margin-top: 0.5rem;
      }
      display: none;
      &.expanded {
        display: block;
      }
    }
  }
  .menu-toggle {
    cursor: pointer;
    height: 2rem;
    // both added equal to 2rem(height) - 1rem(inherit) = 1rem
    // nudged more top margin 0.1rem
    margin-top: -0.4rem;
    margin-bottom: -0.6rem;
    &:hover, &:active {
      fill: $color-3;
    }
    @media (min-width: $media-sm) {
      display: none;
    }
  }
}

.section {
  padding-top: 5rem;
  padding-bottom: calc(5rem - #{$spacing});
  border-bottom: 1px solid $color-25;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border: none;
    padding-bottom: 0;
  }
}

.works {
  display: grid;
  column-gap: $spacing;
  row-gap: $spacing;
  margin-bottom: $spacing;

  @media (min-width: $media-sm) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: $media-md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &.narrow {
    @media (min-width: $media-md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .item {
    .image-wrap {
      padding: 5px;
      border: 1px solid $color-25;

      &:hover {
        border-color: $color-3;
        .image {
          opacity: 1.0;
        }
      }
    }
    .image {
      width: 100%;
      background-repeat: no-repeat;
      background-position-y: center;
      background-size: cover;
      opacity: 0.7;

      &::after {
        content: "";
        display: block;
        padding-bottom: 50%;
      }
    }
  }
}

.work {
  display: grid;
  column-gap: 2rem;
  a.image {
    display: block;
    margin-bottom: 1rem;
    img {
      display: block;
      width: 100%;
    }
  }
    .tools {
      list-style-type: none;
      li {
          color: $color-1;
          display: inline-block;
          box-sizing: border-box;
          padding: 0.1rem 0.2rem;
          margin-right: 1%;
      }
  }
  .detail {
    display: none;
  }
  @media (min-width: $media-sm) {
    grid-template-columns: 2fr 1fr;
    & > .detail {
      display: block;
    }
  }
  @media (max-width: $media-sm) {
    & > div > .detail {
      display: block;
    }
  }
}

.posts {
  margin-top: 1rem;
}
