@import 'themes.scss';

.section {
    display: grid;
    column-gap: 1rem;

    &>div:nth-child(2),
    &>div:nth-child(2) p {
        text-align: right;
    }
    
    @media (min-width: $media-sm) {
        grid-template-columns: 2fr 1fr;
    }
}