@import 'themes.scss';

.theme {
    display: flex;
    float: right;
    margin-top: .3rem;

    &>div {
        width: 1rem;
        height: 1rem;
        margin-left: .5rem;
        display: inline-block;
        cursor: pointer;
        background-color: $color-bg;
        border: 1px solid $color-bg;

        &.selected {
            border-color: $color-1;
        }
    }
}